* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  margin:20px 0px 5px 50px;
  margin-top:20px;
}

.s1{
   background-color:black;
   color:white;
   display:block;
   padding:20px;
}

.s1__name{
    font-size: 60px;

}

.s1__role{
    margin:10px 0px 10px 0px;
}

.s1__contact{
    background-color: orangered;
    padding:5px 10px 5px 10px;
    text-decoration: none;
    color:white;
    display:inline-block;
   
}

.s2,.s3,.s4,.s5{
    margin-top: 20px;
}

.s2__desc,.s3__desc,.s4__desc,.s5__desc{
    padding-top: 20px;
}
.s3__desc,.s4__desc{
    list-style: none;
}
.s3{
    background-color: #6462FD;
    display:inline-block;
    padding:20px;
    border-radius:10px;
    height: 200px;
    vertical-align: top;

}
.s4{
    background-color: #FE7517;
    padding:20px;
    display:inline-block;
    height:200px;
    border-radius:10px;
    vertical-align: top;
}
.s5{
    background-color: black;
    color:white;
    padding:20px;
}

.s5__desc a{
    color:skyblue;
}

.contact{
    margin:20px 0px 10px 0px;
}

.contact__input{
    border:none;
    padding:10px;
    border-bottom: 1px solid black;
}

.contact__textarea{
    margin-top: 10px;
    padding:10px;
}

.contact__submit{
    background-color: orangered;
    padding:10px;
    border: none;
    color:white
}